argcomplete==1.10.3
beautifulsoup4==4.8.2
blinker==1.6.2
blis==0.7.9
catalogue==2.0.8
certifi==2022.12.7
chardet==3.0.4
charset-normalizer==3.0.1
click==8.1.3
compressed-rtf==1.0.6
confection==0.1.2
cymem==2.0.7
docx2txt==0.8
ebcdic==1.1.1
extract-msg==0.28.7
filelock==3.9.0
flashtext==2.7
Flask==2.3.2
huggingface-hub==0.12.0
idna==3.4
IMAPClient==2.1.0
itsdangerous==2.1.2
Jinja2==3.1.2
langcodes==3.3.0
lxml==4.9.2
MarkupSafe==2.1.2
murmurhash==1.0.9
numpy==1.24.2
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
olefile==0.46
packaging==23.0
pathy==0.10.1
pdfminer.six==20191110
Pillow==9.4.0
preshed==3.0.8
pt-core-news-lg @ https://github.com/explosion/spacy-models/releases/download/pt_core_news_lg-3.6.0/pt_core_news_lg-3.6.0-py3-none-any.whl
pycryptodome==3.17
pydantic==1.8.2
pypandoc==1.10
python-docx==0.8.11
python-pptx==0.6.21
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
regex==2022.10.31
requests==2.28.2
six==1.12.0
smart-open==6.3.0
sortedcontainers==2.4.0
soupsieve==2.4
spacy==3.6.1
spacy-alignments==0.9.0
spacy-legacy==3.0.12
spacy-loggers==1.0.4
spacy-transformers==1.2.5
SpeechRecognition==3.8.1
srsly==2.4.5
textract==1.6.5
thinc==8.1.12
tokenizers==0.12.1
torch==1.13.1
tqdm==4.64.1
transformers==4.20.1
typer==0.4.2
typing_extensions==4.4.0
tzdata==2022.7
tzlocal==4.3
urllib3==1.26.14
wasabi==0.10.1
Werkzeug==2.3.6
xlrd==1.2.0
XlsxWriter==3.0.9
